@import 'mixins';

.title {
  @include padding();
  text-align: center;
}

.form {
  @include gap();
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.mediaList {
  @include gap();
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid $black-light-color;
  padding: 1rem;
}

.mediaItem {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.mediaInput {
  // width: 100%;
  // grid-row: 5fr;
  // grid-area: input;
}

.mediaError {
  grid-column: 1 / -1;
}

.mediaBtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  color: $error-dark-color;
}

.submitBtn {
  min-width: 80px;
}