@import 'mixins';

.container {
  position: relative;
  .tooltip {
    opacity: 0;
    visibility: hidden;
  }

  &:hover{
    .tooltip {
      opacity: 1;
      visibility: visible;
    }
  }
}

.icon {
  justify-content: flex-start;
  width: 100%;
}