@import 'mixins';

.button {
  border-radius: 0.25rem;
  border: none;
  color: $white-color;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;

  &:disabled {
    background-color: $disable-color;
  }

  &.loading {
    background-color: $disable-color;
  }

  
}

.blue {
  background-color: $info-dark-color;

  &:hover {
    background-color: darken($info-dark-color, 20%);
  }
}

.red {
  background-color: $error-dark-color;

  &:hover {
    background-color: darken($error-dark-color, 20%);
  }
}

.loading {
  background: $disable-color;
  cursor: not-allowed;
  animation: pulse 2s infinite;
}

.dotsLoading {
  width: 30px;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
