@import 'mixins';


.cards {
  @include gap();
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 20px;

  @include viewport(desktop){
    grid-template-columns: 1fr 1fr;
  }
  
}

.card {
  @include card();
  height: 127px;

  @include viewport(big-mobile) {
    height: 151px;
  }

  @include viewport(tablet) {
    height: 195px;
  }

  @include viewport(desktop) {
    height: 155px;
  }
  @include viewport(desktop-large) {
    height: 195px;
  }
}
