@import 'mixins';


.cards {
  @include gap();
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 20px; //ToDo: Added because icon toolbars, we need to remove it

  @include viewport(desktop){
    grid-template-columns: 1fr 1fr;
  }
  
}

button.addBtn {
  @include iconBtn($blue-color);
  margin: auto 0 10px auto;
}