@import './mixins.scss';

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.exerciseWrapper {
  display: grid;
  margin-bottom: 40px;
  grid-template-areas: 
    "carousel"
    "desc";

  @include viewport(tablet) {
    grid-template-areas: "desc divider carousel";
    grid-template-columns: 1fr 1px 1fr;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.descriptionContainer {
  padding: 0 20px 40px;
  grid-area: desc;
}

.carouselContainer {
  grid-area: carousel;
  margin-bottom: 40px;

  @include viewport(tablet) {
    padding: 0 40px;
    margin-bottom: 0;
  }
}


.divider {
  grid-area: divider;
  @include verticalDivider();
}

.media {
  @include media;
  display: block;
}
