.alertsContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  padding: 10px;
  // right: 50%;
  // left: auto;
}

.alertEnter {
  opacity: 0;
  transform: scale(0.9);
}

.alertEnterActive {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.alertExit {
  opacity: 1;
}

.alertExitActive {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
