.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputField {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
  margin-right: 0.5rem;
}

.button, .addBtn, .removeBtn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button {
  background-color: #007bff;

  &:disabled {
    background-color: #ccc;
  }

  &.loading {
    background-color: #ccc;
  }
}

.addBtn {
  background-color: #28a745;

  &:hover {
    background-color: #218838;
  }
}

.removeBtn {
  background-color: #dc3545;

  &:hover {
    background-color: #c82333;
  }
}

.error {
  color: #dc3545;
}

.loading {
  background: lightgray;
  cursor: not-allowed;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
