@import './variables.scss';
@import './functions.scss';
@import './mixins.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
/*
  Note that we didn't add :host here, because this
  would affect the layout of the web component
*/
html,
body {
  min-height: 100vh;
}

body {
  background-color: $backgound-color;
  position: absolute;
}

textarea, input, button, select { font-family: inherit; font-size: inherit; }

// h2 {
//   font-size: rem(16px);
//   font-weight: 700;
//   @include viewport(tablet) {
//     font-size: rem(20px);
//   }
//   @include viewport(desktop) {
//     font-size: rem(24px);
//   }
// }