@import './variables.scss';

@mixin viewport($media) {
  @if $media == big-mobile {
    @media screen and (min-width: $small) {
      @content;
    }
  }
  @if $media == tablet {
    @media screen and (min-width: $medium) {
      @content;
    }
  } @else if $media == desktop {
    @media screen and (min-width: $large) {
      @content;
    }
  } @else if $media == desktop-large {
    @media screen and (min-width: $extra-large) {
      @content;
    }
  } @else if $media == desktop-extra-large {
    @media screen and (min-width: $extra-extra-large) {
      @content;
    }
  }
}

@mixin padding($direction: all) {
  @if $direction == all {
    padding: $spacing;
  } @else if $direction == top {
    padding-top: $spacing;
  } @else if $direction == right {
    padding-right: $spacing;
  } @else if $direction == bottom {
    padding-bottom: $spacing;
  } @else if $direction == left {
    padding-left: $spacing;
  }

  @include viewport(tablet) {
    @if $direction == all {
      padding: $desktop-spacing;
    } @else if $direction == top {
      padding-top: $desktop-spacing;
    } @else if $direction == right {
      padding-right: $desktop-spacing;
    } @else if $direction == bottom {
      padding-bottom: $desktop-spacing;
    } @else if $direction == left {
      padding-left: $desktop-spacing;
    }
  }
}

@mixin margin($direction: all) {
  @if $direction == all {
    margin: $spacing;
  } @else if $direction == top {
    margin-top: $spacing;
  } @else if $direction == right {
    margin-right: $spacing;
  } @else if $direction == bottom {
    margin-bottom: $spacing;
  } @else if $direction == left {
    margin-left: $spacing;
  }

  @include viewport(tablet) {
    @if $direction == all {
      margin: $desktop-spacing;
    } @else if $direction == top {
      margin-top: $desktop-spacing;
    } @else if $direction == right {
      margin-right: $desktop-spacing;
    } @else if $direction == bottom {
      margin-bottom: $desktop-spacing;
    } @else if $direction == left {
      margin-left: $desktop-spacing;
    }
  }
}

@mixin gap() {
  gap: $spacing;

  @include viewport(tablet) {
    gap: $desktop-spacing;
  }
}

@mixin verticalDivider(){
  height: 100%;
  width: 2px;
  background: linear-gradient(180deg, transparent, $black-light-color, transparent);

  box-shadow: 5px 0 5px -2px $shadow-color, 
              -5px 0 5px -2px $shadow-color;
}

@mixin card($includeSpacing: true, $shadowColor: $shadow-color) {
  border-radius: 10px;
  box-shadow:  4px 4px 8px 0 $shadowColor;
  width: 100%;

  @if $includeSpacing {
    @include padding();
    @include gap();
  }
}

@mixin inputField() {
  background-color: $textfield-background-color;
  border-radius: 5px;
  border: 1px solid $black-light-color;
  box-shadow: inset 0 -2px 1px rgba(0,0,0,.03);
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  width: 100%;
  min-height: 45px;

  input, textArea {
    background-color: $textfield-background-color;
    border: none;
    color: $black-color;
    outline: none;
    width: inherit;
  }
}

@mixin truncate-lines($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin media() {
  border-radius: 15px;
  border: 3px solid $white-color;
  overflow: hidden; 
}