//Breakpoints
$small: 481px;
$sm: $small;
$medium: 768px;
$md: $medium;
$large: 992px;
$lg: $large;
$extra-large: 1200px;
$xl: $extra-large;
$extra-extra-large: 1400px;
$xxl: $extra-extra-large;

//Colors
$black-color: #333333;
$black-light-color: #CCCCCC;
$white-color: #F2F2F2;
$red-color: #DC3545;
$green-color: #28A745;
$blue-color: #007BFF;
$grey-color: #6C757D;

//Spacing
$spacing: 8px;
$desktop-spacing: 12px;


//Pallet
$alert-color: #950000;
$backgound-color: #F5F5F5;
$backgound-tooltip-color: #00000099;
$shadow-color: $black-light-color;
$disable-color: $black-light-color;
$textfield-background-color: $white-color
