@import 'mixins';

.skeleton {
   width: 100%;
  height: 100%;
  background: linear-gradient(-90deg, $white-color 25%, $black-light-color 50%, $white-color 75%);
  background-size: 200% 100%;
  animation: skeletonAnimation 1.5s infinite;
  border-radius: 4px;
}

@keyframes skeletonAnimation {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
