@import 'mixins';
@import 'functions';

.container {
  align-items: center;
  background-color: $backgound-color;
  border: 3px solid $grey-color;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  transition: border-color 0.3s ease-in-out;
  font-size: rem(26px);
  font-weight: 700;
  color: $grey-color;

  &:hover {
    border-color: darken($grey-color, 10%);
    .text {
      transition: color 0.3s ease-in-out;
      color: darken($grey-color, 10%);
    }
    .icon {
      transition: background-color 0.3s ease-in-out;
      background-color: darken($grey-color, 10%);
    }
  }
}

.icon {
  border-radius: 50%;
  background-color: $grey-color;
  color: $backgound-color;
}

.large {
  padding: 3px;
  width: 40px;
  height: 40px;
  @include viewport(tablet) {
    width: 60px;
    height: 60px;
  }
}

.medium {
  padding: 2px;
  width: 20px;
  height: 20px;
  @include viewport(tablet) {
    width: 40px;
    height: 40px;
  }
}

.small {
  padding: 1px;
  width: 20px;
  height: 20px;
}
