@import 'mixins';

.button {
  @include iconBtn();

  .tooltip {
    opacity: 0;
    visibility: hidden;
  }

  &:hover {
    @include viewport(desktop) {
      .tooltip {
        opacity: 1;
        visibility: visible;
      }
    }
  }

}