@import 'mixins';

.button {
  border: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  position: relative;

  .tooltip {
    opacity: 0;
    visibility: hidden;
  }

  &:hover {
    
    @include viewport(tablet) {
      .tooltip {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.iconContainer {
  display: flex;
  padding: 4px; 
  border-radius: 50%;
  transition: background-color .5s ease;
  // font-size: 20px;
}

.black {
  &:hover {
    .iconContainer{
      background-color: $black-color;
      color: $white-color;
    }
  }

  .iconContainer{
    background-color: $white-color;
    color: $black-color;
  }
}

.red {
  &:hover {
    .iconContainer{
      background-color: $red-color;
      color: $white-color;
    }
  }

  .iconContainer{
    background-color: $white-color;
    color: $red-color;
  }
}

.green {
  &:hover {
    .iconContainer{
      background-color: $green-color;
      color: $white-color;
    }
  }

  .iconContainer{
    background-color: $white-color;
    color: $green-color;
  }
}