@import 'mixins';

.loginForm {
  @include card();
  @include gap();
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 400px;
}

.title {
  text-align: center;
  color: #333;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;

  a {
    color: #007bff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.signupLink {
  align-self: center;
}
