@import 'mixins';

.form {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 80vh;
  // justify-content: space-evenly;
}

.body {
  @include margin();
  @include gap();
  height: 80%;
  display: flex;
  flex-direction: row;
}

.exercisePickerContainer {
  width: 30%;
  min-width: 110px;
}

.exercisePicker {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.workoutContainer {
  @include gap();
  display:flex;
  flex-direction: column;
  overflow: scroll;
  width: 100%;
}

.subtitle {
  color: $black-color;
  margin-bottom: 16px;
}

.workoutFields {
  @include gap();
  display: flex;
}

.divider {
  @include verticalDivider();
}

.error {
  color: $error-dark-color;
  display: flex;
  @include gap();
  & > * {
    flex: 1 1 0px;
  }
}