@import 'mixins';

.form {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.title {
  color: $black-color;
  margin: 0 auto 12px;
}

.body {
  @include margin();
  @include gap();
  height: 80%;
  display: flex;
  flex-direction: row;
}

.exercisePickerContainer {
  width: 30%;
  min-width: 110px;
}

.exercisePicker {
  height: 400px;
  overflow-y: auto; 
}

.workoutContainer {
  @include gap();
  display:flex;
  flex-direction: column;
  overflow: scroll;
  width: 100%;
}

.subtitle {
  color: $black-color;
  margin-bottom: 16px;
}

.card {
  font-size:12px;
  flex-direction: row;
  gap: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid $black-light-color;
  box-shadow: inset 0 -2px 1px rgba(0,0,0,.03);
  width: 100%;
  margin-bottom: 20px;
}

.workoutFields {
  @include gap();
  display: flex;
}

.divider {
  @include verticalDivider();
}

.error {
  display: flex;
  @include gap();

  & > * {
    flex: 1 1 0px;
  }
}

.submitBtn {
  width: 50%;
  align-self: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}