@import 'mixins';

.tooltip {
  background-color: $backgound-tooltip-color;
  color: $white-color;
  text-align: center;
  border-radius: 6px;
  padding: 4px 10px;
  position: absolute;
  z-index: 1;
  transition: opacity 0.3s;
  font-size: 12px;
}

.top{
  bottom: 110%;
  left: auto;
}

.left {
  bottom: auto;
  top: auto;
  left: auto;
  right: 110%;
}

.right {
  bottom: 0;
  left: 100%;
}

.bottom {
  top: 110%;
  left: auto;
}