@import 'mixins';

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.exercises {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.exercise {
  @include padding;
  display:flex;
  flex-direction: row;
  border-bottom: 1px solid $black-light-color;
  justify-content: center;

  &:last-child {
    border-bottom: none;
  }
}

.seeMore {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  justify-content: flex-end;
  box-sizing: border-box;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255 255 255 / 25%));
  backdrop-filter: blur(1.5px); /* Increased blur effect */
}

.seeMore:hover {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255 255 255 / 0%));
}